@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("react-toastify/dist/ReactToastify.min.css");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Lobster&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
}
#scroll {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: thin;
  scrollbar-color: #00DF7C #00DF7C05;
  -ms-overflow-style: none;
}

#scroll::-webkit-scrollbar {
  width: 8px;
}

#scroll::-webkit-scrollbar-thumb {
  background: #00DF7C;
  border-radius: 8px;
}

#scroll::-webkit-scrollbar-track {
  background: #00DF7C05;
  border-radius: 8px;
}
body {
  background-color: white;
  overflow: hidden;
}
